[submodule "ctl-utilities"]
	path = ctl-utilities
	url = https://gerrit.automotivelinux.org/gerrit/apps/app-controller-submodule
[submodule "afb-helpers"]
	path = afb-helpers
	url = https://gerrit.automotivelinux.org/gerrit/apps/app-afb-helpers-submodule
